
<div class="row" align="center">
	<div class="col-md-3"></div>
    <div class="col-md-6 well">
		<form name="FormBuscarCliente" class="form-horizontal" role="form"> 
			<legend>Buscar Contacto</legend>
			<fieldset>

        <div class="form-group">
         <label class="col-sm-4 control-label">Provincia:</label>
            <div class="col-sm-6" >
                  <select name="provincia" id="provincia" class="form-control campoform"
                  ng-options="option.name for option in $ctrl.dataprovincia.availableOptions track by option.id"
                  ng-model="$ctrl.dataprovincia.selectedOption" ng-change='$ctrl.upDate($ctrl.dataprovincia.selectedOption)'></select>                 
            </div>
            <div class="col-sm-2" ></div>
         </div>

        <div class="form-group">
         <label  class="col-sm-4 control-label">Ciudad:</label>
            <div class="col-sm-6">
              <select ng-disabled="$ctrl.combo_ciudad"  name="localidad" id="localidad" class="form-control campoform"
              ng-options="option.name for option in $ctrl.datalocalidad.availableOptions track by option.id"
              ng-model="$ctrl.datalocalidad.selectedOption"></select>
            </div><!-- ng-disabled="!$ctrl.datalocalidad"-->
            <div class="col-sm-2" ></div>
        </div>

        <div class="form-group">
         <label  class="col-sm-4 control-label">Dato:</label>
            <div class="col-sm-6">
			       <input  type="text" class="form-control campoform" ng-model="$ctrl.objSearch.criterio">
			       <p>* ingrese nombre, apellido, dni, teléfono o email de la persona. Las entradas numéricas deben estar completas.</p><br>            
            </div><!-- ng-disabled="!$ctrl.datalocalidad"-->
            <div class="col-sm-2" ></div>
        </div>

			<button  ng-click='$ctrl.BuscarCliente($ctrl.objSearch.criterio)'  ng-disabled="$ctrl.boton_submmit" class="btn btn-default">Buscar</button>

			</fieldset>			
		</form> 
	</div>
	<div class="col-md-3"></div>
</div>

<div class="mensajesistema">{{$ctrl.Mensaje}}</div><br><br>

<div class="row">
  <div class="col-md-3"></div>
    <div class="col-md-6"  align="center">

      <table ng-table="$ctrl.tableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in $data">

            <td data-title="'Nombre'">{{row.nombre}}</td>
            <td data-title="'Apellido'">{{row.apellido}}</td>
            <td data-title="'Dni'">{{row.dni}}</td>
            <td data-title="'Telefono 1'">{{row.telefono1}}</td>
            <td data-title="'Telefono 2'">{{row.telefono2}}</td>
            <td data-title="'Email'">{{row.email}}</td>
            <td data-title="'Provincia'">{{row.provincia}}</td>
            <td data-title="'Localidad'">{{row.localidad}}</td>
            <td data-title="'Actividad'">{{row.actividad}}</td>
            <td data-title="'Conoce'">{{row.conoce}}</td>

            <td data-title="'Editar'"><a class="button-table"  ng-click='$ctrl.GoDataEdit(row)'><span class="glyphicon glyphicon-pencil"></span></a></td>

            <td data-title="'Eliminar'"><a class="button-table"  ng-click='$ctrl.GoDataDelete(row)'><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
            
        </tr>
      </table>

    </div>
  <div class="col-md-3"> </div>
</div>