<div class="row" align="center">
  <div class="col-md-2"></div>
    <div class="col-md-4 well">
    <form name="FormBuscarCliente" class="form-horizontal" role="form"> 
      <legend>Buscar Contacto</legend>
      <fieldset>

        <div class="form-group">
         <label class="col-sm-4 control-label">Provincia:</label>
            <div class="col-sm-6" >
                  <select name="provincia" id="provincia" class="form-control campoform"
                  ng-options="option.name for option in $ctrl.dataprovincia.availableOptions track by option.id"
                  ng-model="$ctrl.dataprovincia.selectedOption" ng-change='$ctrl.upDateProvincia($ctrl.dataprovincia.selectedOption)'></select>                 
            </div>
            <div class="col-sm-2" ></div>
         </div>

        <div class="form-group">
         <label  class="col-sm-4 control-label">Ciudad:</label>
            <div class="col-sm-6">
              <select ng-disabled="$ctrl.combo_ciudad"  name="localidad" id="localidad" class="form-control campoform"
              ng-options="option.name for option in $ctrl.datalocalidad.availableOptions track by option.id"
              ng-model="$ctrl.datalocalidad.selectedOption"></select>
            </div>
            <div class="col-sm-2" ></div>
        </div>

        <div class="form-group">
         <label  class="col-sm-4 control-label">Dato:</label>
            <div class="col-sm-6">
             <input  type="text" class="form-control campoform" ng-model="$ctrl.objDataLlamado.criterio">
             <p>* ingrese nombre, apellido, dni, teléfono, email o actividad de la persona</p><br>
            </div>
            <div class="col-sm-2" ></div>
        </div>

      <button  ng-click='$ctrl.BuscarCliente($ctrl.objDataLlamado.criterio)'  ng-disabled="$ctrl.boton_submmit" class="btn btn-default">Buscar</button>

      </fieldset>     
    </form> 
  </div>
  <div class="col-md-8"></div>
</div>

<div class="row" >
  <div class="col-md-1"></div>
    <div class="col-md-10"  align="center">

      <table ng-table="$ctrl.tableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in $data">

            <td data-title="'Nombre'">{{row.nombre}}</td>
            <td data-title="'Apellido'">{{row.apellido}}</td>
            <td data-title="'Tipo de Cliente'">{{row.tipo_cliente}}</td>
            <td data-title="'Dni'">{{row.dni}}</td>
            <td data-title="'Telefono 1'">{{row.telefono1}}</td>
            <td data-title="'Telefono 2'">{{row.telefono2}}</td>
            <td data-title="'Email'">{{row.email}}</td>
            <td data-title="'Provincia'">{{row.provincia}}</td>
            <td data-title="'Localidad'">{{row.localidad}}</td>
            <td data-title="'Actividad'">{{row.actividad}}</td>
            <td data-title="'Conoce'">{{row.conoce}}</td>

            <td data-title="'Seleccionar'"><a ng-show="row.seleccionar" class="button-table"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>
              <input type="checkbox" name="seleccionado" value="" ng-click='$ctrl.CompletarDatos(row)'>
            </td>
            
        </tr>
      </table>

    </div>
  <div class="col-md-1"></div>
</div>
<br><br>

<h3>{{$ctrl.Titulo}}</h3>
<br><br>

<div class="row" align="center">
<form name="FormNuevoLlamado" class="form-horizontal" role="form">
        <div class="form-group" ng-hide="comboProvHide">
          <label class="col-sm-4 control-label">Vendedor:</label>      
          <div class="col-sm-4">
                <select name="vendedor" id="vendedor" class="form-control campoform"
                ng-options="option.name for option in $ctrl.data_vendedor.availableOptions track by option.id"
                ng-model="$ctrl.data_vendedor.selectedOption"></select>    
          </div>
          <div class="col-sm-4"></div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label">Contacto:</label>
          <div class="col-sm-4" >
            <input type="text" class="form-control campoform" ng-model="$ctrl.objDataLlamado.contacto">
          </div>
          <div class="col-sm-4" ></div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label">Fecha del Llamado</label>
          <div class="col-sm-4" align="left">
            <div class="input-group">
              <p class="input-group">
                <input type="text" class="form-control"
                 uib-datepicker-popup="{{$ctrl.format}}" 
                 ng-model="$ctrl.objDataLlamado.dt1" is-open="$ctrl.popup1.opened" 
                 datepicker-options="$ctrl.dateOptions" 
                 ng-required="true" close-text="Cerrar" clear-text="Limpiar" current-text="Hoy"
                 alt-input-formats="$ctrl.altInputFormats" readonly="readonly" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="$ctrl.open1()">
                  <i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>   
            </div>                           
          </div>
         </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Hora del Llamado:</label> 
                
            <div class="col-sm-4">
              <input type="text" class="form-control campoform"
              ng-model=" $ctrl.objDataLlamado.hora_llamado">           
            </div>          
            <div class="col-sm-4"></div>
        </div>

       <div class="form-group">
         <label class="col-sm-4 control-label">Edificio:</label>
            <div class="col-sm-4">
                  <select name="edificio" id="edificio" class="form-control campoform"
                  ng-options="option.nombre for option in $ctrl.data_edificio.availableOptions track by option.id_edificio"
                  ng-model="$ctrl.data_edificio.selectedOption"  ng-change='$ctrl.upDateEdificio($ctrl.data_edificio.selectedOption)'></select>
            </div>
            <div class="col-sm-4" ></div>
      </div>

      <div class="form-group">
         <label class="col-sm-4 control-label">Planta:</label>
            <div class="col-sm-4">
                  <select name="planta" id="planta" class="form-control campoform"
                  ng-options="option.nombre for option in $ctrl.data_planta.availableOptions track by option.id_planta"                
                  ng-model="$ctrl.data_planta.selectedOption"
                  ng-change='$ctrl.upDatePlanta($ctrl.data_planta.selectedOption)'></select>         
            </div>
            <div class="col-sm-4" ></div>
      </div>

      <div class="form-group">
         <label class="col-sm-4 control-label">Departamento:</label>
            <div class="col-sm-4" >
                  <select name="dpto" id="dpto" class="form-control campoform"
                  ng-options="option.nombre for option in $ctrl.data_dpto.availableOptions track by option.id_dpto"               
                  ng-model="$ctrl.data_dpto.selectedOption"></select>                 
            </div>
            <div class="col-sm-4" ></div>
      </div>

      <div class="form-group" ng-hide="comboProvHide">
          <label class="col-sm-4 control-label">Inmobiliaria:</label>      
          <div class="col-sm-4">
                <select name="inmobiliaria" id="inmobiliaria" class="form-control campoform"
                ng-options="option.name for option in $ctrl.data_inmob.availableOptions track by option.id"
                ng-model="$ctrl.data_inmob.selectedOption"></select>    
          </div>
          <div class="col-sm-4"></div>
      </div>

      <div class="form-group">
         <label class="col-sm-4 control-label">¿Operación Cerrada?:</label>
            <div class="col-sm-4" >
                  <select name="cierre_operacion" id="cierre_operacion" class="form-control campoform"
                  ng-options="option.cierre_operacion for option in $ctrl.cierre_operacion.availableOptions track by option.id_cierre_operacion"       
                  ng-model="$ctrl.cierre_operacion.selectedOption"></select>                 
            </div>
            <div class="col-sm-4" ></div>
      </div>

      <div class="form-group">
        <label  class="col-sm-4 control-label">Fecha de Cierre de Operación:</label>
        <div class="col-sm-4" align="left">
           <div class="input-group">
              <p class="input-group">
                <input type="text" class="form-control"
                 uib-datepicker-popup="{{$ctrl.format}}" 
                 ng-model="$ctrl.objDataLlamado.dt3" is-open="$ctrl.popup3.opened" 
                 datepicker-options="$ctrl.dateOptions" 
                 ng-required="true" close-text="Cerrar" clear-text="Limpiar" current-text="Hoy"
                 alt-input-formats="$ctrl.altInputFormats" readonly="readonly" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="$ctrl.open3()">
                  <i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>   
            </div>                           
        </div>
      </div>

      <div class="form-group">
          <label  class="col-sm-4 control-label">Grado de Interés:</label>
          <div class="col-sm-4">
            <select class="form-control campoform" name="grado_interes" id="grado_interes" ng-options="option.name for option in $ctrl.grado_interes.availableOptions track by option.id" ng-model="$ctrl.grado_interes.selectedOption">        
            </select>
          </div>
          <div class="col-sm-4"></div>
      </div>

      <div class="form-group">
          <label  class="col-sm-4 control-label">Origen del Dato:</label>
          <div class="col-sm-4">
            <select class="form-control campoform" name="origen_dato" id="origen_dato"
            ng-options="option.origen_dato for option in $ctrl.data_origen_dato.availableOptions track by option.id_origen_dato"
            ng-model="$ctrl.data_origen_dato.selectedOption">          
            </select>
          </div>
          <div class="col-sm-4"></div>
      </div>     

      <div class="form-group">
        <label  class="col-sm-4 control-label">Fecha Origen del Dato:</label>
        <div class="col-sm-4" align="left">
           <div class="input-group">
              <p class="input-group">
                <input type="text" class="form-control"
                 uib-datepicker-popup="{{$ctrl.format}}" 
                 ng-model="$ctrl.objDataLlamado.dt2" is-open="$ctrl.popup2.opened" 
                 datepicker-options="$ctrl.dateOptions" 
                 ng-required="true" close-text="Cerrar" clear-text="Limpiar" current-text="Hoy"
                 alt-input-formats="$ctrl.altInputFormats" readonly="readonly" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="$ctrl.open2()">
                  <i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>   
            </div>                           
        </div>
      </div>

      <div class="form-group">
           <label class="col-sm-4 control-label">Anotaciones:</label>
            <div class="col-sm-4">
              <textarea type="text" class="form-control campoform"  rows="15" ng-model="$ctrl.objDataLlamado.anotaciones"></textarea>
            </div>
             <div class="col-sm-4" ></div>
        </div>
    
      <div class="form-group">
        <div class="col-sm-4" ></div>
          <div class=" col-sm-4">
          <button class="btn btn-default" ng-disabled="$ctrl.allow_disable"  ng-show="$ctrl.allow_visible" 
          ng-click='$ctrl.Save()' style='margin-left: 63px;margin-top:10px'>{{$ctrl.Boton}}</button>
             </div>
          <div class="col-sm-4" ></div>
        </div>
        <div class="mensajesistema">{{$ctrl.Mensaje}}</div>
</form>
</div>
<div style="height:100px"></div>
