<div class="row">
	<div class="col-md-4"></div>
    <div class="col-md-4 well">
		<form name="buscarLlamado"> 
			<legend>Buscar Llamado</legend>
			<fieldset>
			 <!-- <input type="text" class="form-control" name="buscar" ng-model="$ctrl.objSearch.criterio">
			<p>* ingrese la fecha del llamado</p><br>
     -->
      <div class="form-group">
          <label  class="col-sm-4 control-label">Ingrese la fecha:</label>
            <div class="col-sm-6" >
               <div class="input-group">
                  <p class="input-group">
                    <input type="text" class="form-control"
                     uib-datepicker-popup="{{$ctrl.format}}" 
                     ng-model="$ctrl.dt1" is-open="$ctrl.popup1.opened" 
                     datepicker-options="$ctrl.dateOptions" 
                     ng-required="true" close-text="Cerrar" clear-text="Limpiar" current-text="Hoy"
                     alt-input-formats="altInputFormats" readonly="readonly" />
                      <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="$ctrl.open1()">
                      <i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </p>   
                </div>                           
          </div>
     </div><br><br>
     
			<button ng-click='$ctrl.BuscarLlamado()' ng-disabled="$ctrl.boton_submmit" class="btn btn-default">Buscar</button>
			</fieldset>
		</form> 
	</div>
	<div class="col-md-4"></div>
</div>

<div class="mensajesistema">{{$ctrl.Mensaje}}</div><br><br>

<div class="row">
  <div class="col-md-3"></div>
    <div class="col-md-6"  align="center">

      <table ng-table="$ctrl.tableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in $data">

            <td data-title="'Vendedor'">{{row.vendedor}}</td>
            <td data-title="'Nombre Cliente'">{{row.nombre_cliente}}</td>
            <td data-title="'Apellido Cliente'">{{row.apellido_cliente}}</td>
            <td data-title="'Fecha'">{{row.fecha_llamado}}</td>
            <td data-title="'Hora'">{{row.hora_llamado}}</td>
            <td data-title="'Edificio'">{{row.edificio}}</td>
            <td data-title="'Planta'">{{row.planta}}</td>
            <td data-title="'Dpto'">{{row.dpto}}</td>
            <td data-title="'Grado de Interes'">{{row.grado_interes}}</td>
            <td data-title="'Origen del dato'">{{row.nombre_origen_dato}}</td>
            <td data-title="'Fecha Origen del dato'">{{row.fecha_origen_dato}}</td>
            <td data-title="'Anotaciones'">{{row.anotaciones}}</td>            

            <td data-title="'Editar'"><a ng-show="row.editar" class="button-table"  ng-click='$ctrl.GoDataEdit(row)'><span class="glyphicon glyphicon-file" aria-hidden="true"></span>Editar</a>
             <a ng-show="!row.editar" class="button-table"  ng-click='$ctrl.GoDataEdit(row)'>
             <span class="glyphicon glyphicon-search" aria-hidden="true">Ver</a> 
            </td>
            
        </tr>
      </table>

    </div>
  <div class="col-md-3"> </div>
</div>