<h3>Historial de Llamados</h3>

<div class="mensajesistema">{{$ctrl.Mensaje}}</div><br><br>

<div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-10"  align="center">

      <table ng-table="$ctrl.tableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in $data">

            <td data-title="'id_cliente'">{{row.id_cliente}}</td>
            <td data-title="'id_llamado'">{{row.id_llamado}}</td>   
            <td data-title="'id_vendedor'">{{row.id_vendedor}}</td>
            <td data-title="'fecha_llamado'">{{row.fecha_llamado}}</td>
            <td data-title="'hora_llamado'">{{row.hora_llamado}}</td>
            <td data-title="'id_edificio'">{{row.id_edificio}}</td>   
            <td data-title="'id_planta'">{{row.id_planta}}</td>
            <td data-title="'id_dpto'">{{row.id_dpto}}</td>
            <td data-title="'grado_interes'">{{row.grado_interes}}</td>
            <td data-title="'id_origen_dato'">{{row.id_origen_dato}}</td>   
            <td data-title="'fecha_origen_dato'">{{row.fecha_origen_dato}}</td>
            <td data-title="'anotaciones'">{{row.anotaciones}}</td>
            
        </tr>
      </table>

    </div>
  <div class="col-md-1"> </div>
</div>