<h3>Planilla</h3>

<br><br>

<div class="row">

	<table class="table">
		<tr>
			<th>Cliente</th>
			<th>Tipo de Cliente</th>
			<th>GI</th>
			<th>Teléfono 1</th>
			<th>Teléfono 2</th>
			<th>Provincia</th>
			<th>Ciudad</th>			
			<th>Origen Dato</th>
			<th>Actividad</th>
			<th>Conoce</th>
			<th>Fecha origen dato</th>
			<th>Fecha último llamado</th>
			<th>Nº Llamados</th>
			<th>Fecha cierre operación</th>
			<th>Edificio</th>
			<th>Planta</th>
			<th>Dpto</th>
			<th>Correo Electrónico</th>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><input type="" name="" size="8"></td>
			<td>
				<select name="tipo_cliente" id="tipo_cliente" class="form-control campoform"
                ng-options="option.tipo for option in $ctrl_c.tipo_cliente.availableOptions track by option.id"
                ng-model="$ctrl_c.tipo_cliente.selectedOption"></select> 
			</td>
			<td><select name="grado_interes" id="grado_interes" class="form-control campoform"
                ng-options="option.grado for option in $ctrl_c.grado_interes.availableOptions track by option.id"
                ng-model="$ctrl_c.grado_interes.selectedOption"></select></td>
			<td><input type="" name="" size="8"></td>
			<td><input type="" name="" size="8"></td>
			<td><input type="" name="" size="8"></td>
			<td><input type="" name="" size="8"></td>
			<td><input type="" name="" size="8"></td>
			<td><select name="actividad" id="actividad" class="form-control campoform"
                ng-options="option.nombre for option in $ctrl_c.actividad.availableOptions track by option.id"
                ng-model="$ctrl_c.actividad.selectedOption"></select> 
            </td>
			<td><input type="" name="" size="3"></td>
			<td><input type="" name="" size="8"></td>
			<td><input type="" name="" size="8"></td>
			<td><input type="" name="" size="3"></td>
			<td><input type="" name="" size="8"></td>
			<td>
				<select name="edificio" id="edificio" class="form-control campoform"
                ng-options="option.tipo for option in $ctrl_c.edificio.availableOptions track by option.id"
                ng-model="$ctrl_c.edificio.selectedOption"></select> 
			</td>
			<td>
				<select name="planta" id="planta" class="form-control campoform"
                ng-options="option.tipo for option in $ctrl_c.planta.availableOptions track by option.id"
                ng-model="$ctrl_c.planta.selectedOption"></select> 
			</td>
			<td>
				<select name="dpto" id="dpto" class="form-control campoform"
                ng-options="option.tipo for option in $ctrl_c.dpto.availableOptions track by option.id"
                ng-model="$ctrl_c.dpto.selectedOption"></select> 
			</td>
			<td><input type="" name="" size="20"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Chain Julio</td>
			<td>Comprador</td>
			<td>2</td>
			<td>351-6790054</td>
			<td>351-6790054</td>
			<td>Córdoba</td>
			<td>Córdoba</td>
			<td>Letrero</td>
			<td>Py Construcción</td>
			<td>Si</td>
			<td>28/3/2016</td>
			<td>10/6/2016</td>
			<td>5</td>
			<td>4/4/2016</td>
			<td>M2</td>
			<td>B</td>
			<td>3</td>
			<td>anguinegra@hotmail.com</td>
			<td align="center" class="tablalistado_td"><font size="-1"><a href="../sections/edit_edificio.php?id='.$row["id_edificio"].'"><img src="images/edit.png" border="0" title="Modificar"/></a></font></td>
			<td align="center" class="tablalistado_td"><font size="-1"><a href="../sections/eliminar_edificio.php?id='.$row["id_edificio"].'&accion=Eliminar" onClick="javascript:return confirm(\'¿Desea eliminar el edificio seleccionado?.\')">
         	<img src="images/delete.png" border="0" title="Eliminar"/></a></font></td>
         	<td><a href="historial.php">Ver Historial</a></td>
		</tr>
		<tr>
			<td>Cornelli Ada</td>
			<td>Comprador</td>
			<td>2</td>
			<td>03576-15-523090</td>
			<td>03576-15-523090</td>
			<td>Córdoba</td>
			<td>Córdoba</td>
			<td>Oficina</td>
			<td>Prof Arq</td>
			<td>Si</td>
			<td>7/9/20163/8/2016</td>
			<td>12/6/2016</td>
			<td>5</td>
			<td></td>
			<td>M3</td>
			<td>B</td>
			<td>3</td>
			<td>georginabertone@hotmail.com</td>
			<td align="center" class="tablalistado_td"><font size="-1"><a href="../sections/edit_edificio.php?id='.$row["id_edificio"].'"><img src="images/edit.png" border="0" title="Modificar"/></a></font></td>
			<td align="center" class="tablalistado_td"><font size="-1"><a href="../sections/eliminar_edificio.php?id='.$row["id_edificio"].'&accion=Eliminar" onClick="javascript:return confirm(\'¿Desea eliminar el edificio seleccionado?.\')">
         	<img src="images/delete.png" border="0" title="Eliminar"/></a></font></td>
         	<td><a href="historial.php">Ver Historial</a></td>
		</tr>
		<tr>
			<td>Bobbio, Raúl</td>
			<td>Propietario</td>
			<td>2</td>
			<td>3576-493158</td>
			<td>412392</td>
			<td>Córdoba</td>
			<td>El Tío</td>			
			<td>Cesión</td>
			<td>Py Construcción</td>
			<td>Si</td>
			<td>28/3/2016</td>
			<td>10/6/2016</td>
			<td>5</td>
			<td>4/4/2016</td>
			<td>M2</td>
			<td>B</td>
			<td>3</td>
			<td>fsfarmacia@hotmail.com</td>
			<td align="center" class="tablalistado_td"><font size="-1"><a href="../sections/edit_edificio.php?id='.$row["id_edificio"].'"><img src="images/edit.png" border="0" title="Modificar"/></a></font></td>
			<td align="center" class="tablalistado_td"><font size="-1"><a href="../sections/eliminar_edificio.php?id='.$row["id_edificio"].'&accion=Eliminar" onClick="javascript:return confirm(\'¿Desea eliminar el edificio seleccionado?.\')">
         	<img src="images/delete.png" border="0" title="Eliminar"/></a></font></td>
         	<td><a href="historial.php">Ver Historial</a></td>
		</tr>

		<tr>
			<td>Pesco, Gabriel y José</td>
			<td>Propietario</td>
			<td>2</td>
			<td>358-5629374</td>
			<td>358-5629374</td>
			<td>Córdoba</td>
			<td>General Cabrera</td>		
			<td>w p.p</td>
			<td>Com Acopio Cereal</td>
			<td>Si</td>
			<td>28/9/2016</td>
			<td>5/10/2016</td>
			<td>5</td>
			<td>4/4/2016</td>
			<td>M2</td>
			<td>B</td>
			<td>3</td>
			<td>gmacagno@cotagro.com.ar</td>
			<td align="center" class="tablalistado_td"><font size="-1"><a href="../sections/edit_edificio.php?id='.$row["id_edificio"].'"><img src="images/edit.png" border="0" title="Modificar"/></a></font></td>
			<td align="center" class="tablalistado_td"><font size="-1"><a href="../sections/eliminar_edificio.php?id='.$row["id_edificio"].'&accion=Eliminar" onClick="javascript:return confirm(\'¿Desea eliminar el edificio seleccionado?.\')">
         	<img src="images/delete.png" border="0" title="Eliminar"/></a></font></td>
         	<td><a href="historial.php">Ver Historial</a></td>
		</tr>
		<tr>
			<td>Panero, Rodolfo</td>
			<td>Comprador</td>
			<td></td>
			<td>3533-435505</td>
			<td>3533-435505</td>			
			<td>Córdoba</td>
			<td>El Arañado</td>
			<td>Eliseo</td>
			<td>Pr Agr</td>
			<td>Si</td>
			<td></td>
			<td></td>
			<td></td>
			<td>nov-13</td>
			<td>M7</td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center" class="tablalistado_td"><font size="-1"><a href="../sections/edit_edificio.php?id='.$row["id_edificio"].'"><img src="images/edit.png" border="0" title="Modificar"/></a></font></td>
			<td align="center" class="tablalistado_td"><font size="-1"><a href="../sections/eliminar_edificio.php?id='.$row["id_edificio"].'&accion=Eliminar" onClick="javascript:return confirm(\'¿Desea eliminar el edificio seleccionado?.\')">
         	<img src="images/delete.png" border="0" title="Eliminar"/></a></font></td>
         	<td><a href="historial.php">Ver Historial</a></td>
		</tr>
		
	</table>

</div>
