<div class="row" style="height:40px;"></div>
<!--Form Busqueda-->
<!--***********************************************************************-->
<div>
  <div class="row" align="center">
      
      <form name="myForm" class="form-horizontal" role="form">
          <div class="form-group">
            <label  class="col-sm-4 control-label" >Buscar</label>
             <div class="col-sm-4" >
                <input type="text" class="form-control" id="binscripto" name="binscripto" ng-model="self.binscripto"  />
               </div>
              <div class="col-sm-4" ></div>
          </div>

     <div class="form-group">
          <label  class="col-sm-4 control-label">Pagos:</label>
    <div class="col-sm-4" >
        <select  class="form-control campoform" id="tipopago" nombre="tipopago"
          ng-options="option.Tipo_Pago for option in self.dataCombos.availableOptions0 track by option.Id_Pago"
          ng-model="self.dataCombos.selectedOption0" ng-change="self.upDate(self.dataCombos.selectedOption0)" >
        </select>
     </div>
          <div class="col-sm-4"></div>
      </div>


        <div class="form-group">
            <div class="col-sm-4" ></div>
            <div class=" col-sm-4">
              <button  class="btn btn-default" ng-click="self.StartSearch()" style='margin-left:63px;margin-top:10px'>Buscar</button></div>
              <div class="col-sm-4" ></div>
            </div>
           <div class="mensajesistema">{{self.MessageInsert}}</div>
       </form>
      </div>
  <div class="row" style="height:40px;"></div>




<!--Tabla Historial-->
<!--***********************************************************************-->
<div class="row" >
  <div class="col-md-3" >
       
    </div>
    <div class="col-md-6"  align="right">
        <button  ng-disabled="self.allow_disable2" ng-click='self.GetExcel()' type="button" class="btn btn-primary">Bajar XLS</button>
    </div>
    <div class="col-md-3" >
       
    </div>
</div>

<div class="row" >
  <div class="col-md-3" ></div>
    <div class="col-md-6"  align="right">
        <hr>
    </div>
    <div class="col-md-3" ></div>
</div>

  <div class="row" >
    <div class="col-md-3"  ></div>
      <div class="col-md-6"  align="center">
       
      <table ng-table="self.tableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in $data">
            <td data-title="'Name_Inscripto'">{{row.Name_Inscripto}}</td>
            <td data-title="'Dni_Inscripto'">{{row.Dni_Inscripto}}</td>
            <td data-title="'Monto'">{{row.Monto}}</td>
            <td data-title="'Tipo Arancel'">{{row.Tipo_Arancel}}</td>
             <td data-title="'Email'">{{row.Email}}</td>
            <td data-title="'Editar'"><a class="button-table"  ng-click='self.GoDataEdit(row)'><img src='images/edit.png' alt='Edit' height='16' width='16'>Editar</a></td>
        </tr>
      </table>



      </div>
      <div class="col-md-3" > </div>
    </div>
    <div class="row" style="height:40px;"></div>
</div><!--Controller-->