<h3>Nuevo Edificio</h3>
<br><br>

<div class="row" align="center">
<form name="form" class="form-horizontal" autocomplete="off" role="form" novalidate>
      
      <div class="form-group">
        <label class="col-sm-4 control-label">Nombre:</label>
        <div class="col-sm-4" >
          <input type="text" name="nombre" class="form-control campoform" ng-model="$ctrl_e.objDataEdificio.nombre" ng-required="true">

           <span class="errorform" ng-show="form.$submitted && form.nombre.$error.required">El campo es Requerido.</span>

        </div>
        <div class="col-sm-4" ></div>
      </div>

      <div class="form-group">
        <div class="col-sm-4" ></div>
          <div class=" col-sm-4">
            <button class="btn btn-default" ng-disabled="$ctrl_e.allow_disable"  ng-show="$ctrl_e.allow_visible" ng-click='$ctrl_e.NuevoEdificio()' style='margin-left: 63px;margin-top:10px'>Guardar</button>
          </div>
          <div class="col-sm-4" ></div>
      </div>
      
      <div class="mensajesistema">{{$ctrl_e.Mensaje}}</div>
</form>
</div>

