<h3>Planilla</h3>
<br><br>

<div class="row">
  <div class="col-md-12" align="center" >

  <table ng-table="$ctrl.tableParams" class="table table-condensed table-bordered table-striped" style="margin-left:0px;margin-right:20px;">
  <!-- Como agrego esta fila???
  <tr>
    <th colspan="8">Cliente</th>
    <th colspan="5">Llamados</th>
    <th colspan="6">Cierre de Operación</th>
  </tr>-->

  <tr ng-repeat="row in $data">
      <td data-title="'Cliente'" filter="{ apellido:'text', nombre:'text'}"> {{row.apellido}}, {{row.nombre}}</td>
      <!--<td data-title="'Tipo de Cliente'" filter="{tipo_cliente: 'text'}">{{row.tipo_cliente}}</td> -->
      <td data-title="'Teléfono 1'" filter="{telefono1: 'number'}">{{row.telefono1}}</td>
      <td data-title="'Teléfono 2'" filter="{telefono2: 'number'}">{{row.telefono2}}</td>
      <td data-title="'Provincia'" filter="{provincia: 'text'}">{{row.provincia}}</td>
      <td data-title="'Ciudad'" filter="{localidad: 'text'}">{{row.localidad}}</td>
      <td data-title="'Actividad'" filter="{actividad: 'text'}">{{row.actividad}}</td>
      <td data-title="'Conoce'" filter="{conoce: 'text'}">{{row.conoce}}</td>
      <td data-title="'Origen Dato'" filter="{origen_dato: 'text'}">{{row.origen_dato}}</td>
      <td data-title="'Fecha origen dato'" filter="{fecha_origen_dato: 'text'}">{{row.fecha_origen_dato}}</td>
      <td data-title="'Fecha último llamado'" filter="{fecha_ult_llamado: 'text'}">{{row.fecha_ult_llamado}}</td>
      <td data-title="'GI'" filter="{grado_interes: 'number'}">{{row.grado_interes}}</td>
      <td data-title="'Nº Llamados'" filter="{num_llamados: 'number'}">{{row.num_llamados}}</td>
      <td data-title="'Vendedor'" filter="{vendedor: 'text'}">{{row.vendedor}}</td>
      <td data-title="'Inmobiliaria'" filter="{inmobiliaria: 'text'}">{{row.inmobiliaria}}</td>
      <!--<td data-title="'Fecha cierre operación'" filter="{fecha_cierre_operacion: 'text'}">{{row.fecha_cierre_operacion}}</td>
      <td data-title="'Edificio'" filter="{edificio: 'text'}">{{row.edificio}}</td>
      <td data-title="'Planta'" filter="{planta: 'text'}">{{row.planta}}</td>
      <td data-title="'Dpto'" filter="{dpto: 'text'}">{{row.dpto}}</td>-->
      <td data-title="'Correo Electrónico'" filter="{email: 'text'}">{{row.email}}</td>
      <td><a class="button-table" ng-click='$ctrl.GoDataHistorial(row, $data, $index)'>Ver Historial</a></td>
  
    </tr>
  </table>

  </div>
</div>