
<div class="row" align="center">
	<div class="col-md-2"></div>
    <div class="col-md-4 well">
		<form name="FormBuscarCliente" class="form-horizontal" role="form"> 
			<legend>Buscar Contacto</legend>
			<fieldset>
			<input  type="text" class="form-control campoform" ng-model="$ctrl_bc.objSearch.criterio">
			<p>* ingrese el correo electrónico de la persona</p><br>
			<button ng-click='$ctrl_bc.BuscarCliente($ctrl_bc.objSearch.criterio)' class="btn btn-default">Buscar</button>
			</fieldset>			
		</form> 
	</div>
	<div class="col-md-8"></div>
</div>

<div class="mensajesistema">{{$ctrl_bc.Mensaje}}</div><br><br>

<div class="row" >
  <div class="col-md-3"  ></div>
    <div class="col-md-6"  align="center">

      <table ng-table="$ctrl_bc.tableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in $data">

            <td data-title="'Nombre'">{{row.nombre}}</td>
            <td data-title="'Apellido'">{{row.apellido}}</td>
            <td data-title="'Dni'">{{row.dni}}</td>
            <td data-title="'Telefono'">{{row.telefono}}</td>
            <td data-title="'Email'">{{row.email}}</td>
            <td data-title="'Provincia'">{{row.provincia}}</td>
            <td data-title="'Localidad'">{{row.localidad}}</td>
            <td data-title="'Actividad'">{{row.actividad}}</td>
            <td data-title="'Conoce'">{{row.conoce}}</td>
            
            <td data-title="'Editar'"><a ng-show="row.editar" class="button-table"  ng-click='$ctrl_bc.GoDataEdit(row)'><span class="glyphicon glyphicon-file" aria-hidden="true"></span>Editar</a>
             <a ng-show="!row.editar" class="button-table"  ng-click='$ctrl_bc.GoDataEdit(row)'>
             <span class="glyphicon glyphicon-search" aria-hidden="true">Ver</a> 
            </td>
        </tr>
      </table>

    </div>
  <div class="col-md-3" > </div>
</div>