<h3>Cerrar Operación</h3>
<p>esta en utf-8</p>
<hr>

<div class="row" align="center">	
	<form name="FormCerrarOperacion" class="form-horizontal" role="form">		
	  <div class="form-group">
	    <label>Contacto: </label> persona seleccionada			    
	  </div>
	  <div class="form-group">
	    <label>Vendedor: </label> vendedor traído por el inicio de sesión			    
	  </div>
	  <div class="form-group">
	    <label>Fecha de cierre: </label> <span id ="fecha">{{CurrentDate | date:'dd-MM-yyyy'}}</span>
	  </div>
	  <div class="form-group">
	    <label>Hora de cierre: </label> hora traída de la pc			   
	  </div>

	  <div class="form-group">
           <label class="col-sm-4 control-label">DNI del contacto:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control campoform" ng-model="$ctrl_co.objDataEdificio.telefono">
            </div>
             <div class="col-sm-4" ></div>
        </div>

	  <div class="form-group">
         <label class="col-sm-4 control-label">Edificio:</label>
            <div class="col-sm-4">
                  <select name="edificio" id="edificio" class="form-control campoform"
                  ng-options="option.nombre for option in $ctrl_co.data_edificio.availableOptions track by option.id_edificio"
                  ng-model="$ctrl_co.data_edificio.selectedOption"  ng-change='$ctrl_co.upDatePlanta($ctrl_co.data_edificio.selectedOption)'></select>
            </div>
            <div class="col-sm-4" ></div>
      </div>

	  <div class="form-group">
	     <label class="col-sm-4 control-label">Planta:</label>
	        <div class="col-sm-4">
	              <select name="planta" id="planta" class="form-control campoform"
	              ng-options="option.nombre_planta for option in $ctrl_co.data_planta.availableOptions track by option.id_planta"	              
	              ng-model="$ctrl_co.data_planta.selectedOption"
	              ng-change='$ctrl_co.upDateDpto($ctrl_co.data_planta.selectedOption)'></select>                 
	        </div><!-- ng-disabled="!data_edificio.selectedOption"  -->
	        <div class="col-sm-4" ></div>
	  </div>

	   <div class="form-group">
	     <label class="col-sm-4 control-label">Departamento:</label>
	        <div class="col-sm-4" >
	              <select name="dpto" id="dpto" class="form-control campoform"
	              ng-options="option.nombre_dpto for option in $ctrl_co.data_dpto.availableOptions track by option.id_dpto"	             
	              ng-model="$ctrl_co.data_dpto.selectedOption"></select>                 
	        </div><!--  ng-disabled="!data_dpto.selectedOption"  -->
	        <div class="col-sm-4" ></div>
	  </div>

	  <div class="form-group">
           <label class="col-sm-4 control-label">Observaciones:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control campoform" ng-model="$ctrl_co.objDataEdificio.telefono">
            </div>
             <div class="col-sm-4" ></div>
        </div>
	 
	  <div class="form-group">
        <div class="col-sm-4" ></div>
          <div class=" col-sm-4">
          <button class="btn btn-default" ng-disabled="$ctrl_co.allow_disable"  ng-show="$ctrl_co.allow_visible" 
          ng-click='$ctrl_co.CerrarOperacion()' style='margin-left: 63px;margin-top:10px'>Guardar</button>
             </div>
          <div class="col-sm-4" ></div>
        </div>
        <div class="mensajesistema">{{$ctrl_co.Mensaje}}</div>
		
	</form>
</div>