<h3>Nuevo Llamado</h3>
<hr>

<div class="row" align="center">
<form name="FormNuevoCliente" class="form-horizontal" role="form">
          <div class="form-group">
             <label class="col-sm-4 control-label">Vendedor:</label> <!--vendedor traído por el inicio de sesión-->
             
             <div class="col-sm-4" >
              <input type="text" class="form-control campoform" ng-model="$ctrl_nl.objDataLlamado.vendedor">
            </div>
            <div class="col-sm-4" ></div>
          </div>
    
          <div class="form-group">
             <label class="col-sm-4 control-label">Contacto:</label><!--persona seleccionada -->
             <div class="col-sm-4" >
              <input type="text" class="form-control campoform" ng-model="$ctrl_nl.objDataLlamado.contacto">
            </div>
            <div class="col-sm-4" ></div>
          </div>
        
          <div class="form-group">
             <label class="col-sm-4 control-label">Fecha:</label> <!--fecha traída de la pc-->
             
             <div class="col-sm-4" >
              <input type="text" class="form-control campoform" ng-model="$ctrl_nl.objDataLlamado.fecha">
            </div>
            <div class="col-sm-4" ></div>
          </div>
         
        <div class="form-group">
           <label class="col-sm-4 control-label">Hora:</label> <!--hora traída de la pc-->
            
            <div class="col-sm-4">
              <input type="text" class="form-control campoform" ng-model="ctrl_nl.objDataLlamado.hora">
            </div>
          
             <div class="col-sm-4" ></div>
        </div>

      <div class="form-group">
          <label  class="col-sm-4 control-label" >Edificio:</label>
          <div class="col-sm-4" >
            <select class="form-control campoform" name="edificio" id="edificio" ng-options="option.name for option in $ctrl_nl.data_edificio.availableOptions track by option.id" ng-model="$ctrl_nl.data_edificio.selectedOption"></select>
          </div>
          <div class="col-sm-4" ></div>
        </div>

      <div class="form-group">
          <label  class="col-sm-4 control-label">Planta:</label>
           <div class="col-sm-4">
              <select class="form-control campoform" name="planta" id="planta"
              ng-options="option.name for option in $ctrl_nl.data_planta.availableOptions track by option.id"
              ng-model="$ctrl_nl.data_planta.selectedOption"></select>
            </div>
            <div class="col-sm-4" ></div>
        </div>

       <div class="form-group">
          <label  class="col-sm-4 control-label">Departamento:</label>
           <div class="col-sm-4">
            <select class="form-control campoform" name="dpto" id="dpto"
              ng-options="option.name for option in $ctrl_nl.data_dpto.availableOptions track by option.id"
              ng-model="$ctrl_nl.data_dpto.selectedOption"></select></div>
            <div class="col-sm-4" ></div>
        </div>
<!--
       <div class="form-group">
          <label  class="col-sm-4 control-label" >Grado de Interés:</label>
           <div class="col-sm-4" ><select class="form-control campoform" name="mySelect" id="mySelect"
      ng-options="option.Grado de Interés for option in $ctrl_nl.data_edit.availableOptions track by option.id"
      ng-model="$ctrl_nl.data_edit.selectedOption"  ng-change="upDate()"></select></div>
            <div class="col-sm-4" ></div>
        </div>

      <div class="form-group">
          <label  class="col-sm-4 control-label" >Origen del Dato:</label>
           <div class="col-sm-4" ><select class="form-control campoform" name="mySelect" id="mySelect"
      ng-options="option.Grado de Interés for option in $ctrl_nl.data_edit.availableOptions track by option.id"
      ng-model="$ctrl_nl.data_edit.selectedOption"  ng-change="upDate()"></select></div>
            <div class="col-sm-4" ></div>
        </div>
      -->

        <div class="form-group">
         <label class="col-sm-4 control-label">Fecha Origen del Dato</label>
            <div class="col-sm-4" >
              <input type="text" class="form-control campoform" ng-model="$ctrl_nl.objDataLlamado.fecha_origen_dato" />
            </div>
            <div class="col-sm-4" ></div>
         </div>

      <div class="form-group">
           <label class="col-sm-4 control-label">Anotaciones:</label>
            <div class="col-sm-4">
              <textarea type="text" class="form-control campoform"  rows="15" ng-model="$ctrl_nl.objDataLlamado.anotaciones"></textarea>
            </div>
             <div class="col-sm-4" ></div>
        </div>

        <!--<div class="form-group">
           <label class="col-sm-4 control-label">Conoce:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control campoform" ng-model="$ctrl_nl.objDataLlamado.conoce">
            </div>
             <div class="col-sm-4" ></div>
        </div>-->
   
      
      <div class="form-group">
        <div class="col-sm-4" ></div>
          <div class=" col-sm-4">
          <button class="btn btn-default" ng-disabled="$ctrl_nl.allow_disable"  ng-show="$ctrl_nl.allow_visible" 
          ng-click='$ctrl_nl.NuevoLlamado()' style='margin-left: 63px;margin-top:10px'>Guardar</button>
             </div>
          <div class="col-sm-4" ></div>
        </div>
        <div class="mensajesistema">{{$ctrl_nl.Mensaje}}</div>
</form>
</div>
<div style="height:100px"></div>
